.showAnimation {
  animation: show-animation 1s ease forwards 0s;
}

.showAnimation500 {
  animation: show-animation 1s ease forwards 0.5s;
}

.showAnimation1000 {
  animation: show-animation 1s ease forwards 1s;
}

@keyframes show-animation {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
